{% extends "qa_base.html" %}

{% block style %}
  <style>
    .campaigns .inside {
      padding: 10px;
      background: #2A3F54;
      color: #fff;
      border-radius: 8px;
      box-shadow: 3px 10px 10px #2A3F54;
      font-size: 14px;
    }
    .campaigns .inside label{
          font-weight: 400;
    }
    .campaigns .inside h2{
          font-size: 20px;
          font-weight: 600;
          text-shadow: 1px 1px lightgrey;
    }
    .campaigns .inside h2 i {
      margin-right: 5px;
      font-size: 22px;
      color: #007bff;
      text-shadow: none !important;
    }
    .campaigns .inside_inbound h2 i{
      color: #d2691e;
    }
    .campaigns .inside_email h2 i{
      color: #096b1f;
    }
    .campaigns .inside_other h2 i{
      color: #bd2130;
    }
    .campaigns {
    }



  </style>
{% endblock %}

{% block main %}
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="row mb-5">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-3 campaigns">
                  <form action="/form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="inside">
                      <h2 align="center"><i class="fas fa-headphones"></i> Outbound</h2>
                      <label for="campaign">Campaign</label>
                      <select id="campaign" name="campaign" class="form-control select2" required>
                        <option value="" selected disabled>Please Select</option>
                        {% for i in out_campaigns %}
                        <option value="{{i.name}}">{{i.name}}</option>
                        {% endfor %}
                      </select>
                      <label for="emp" class="mt-3">Employee</label>
                      <select id="emp" name="emp" class="form-control select2" required>
                        <option value="" selected disabled>Please Select</option>
                        {% for i in profile %}
                        <option value="{{i.emp_id}}">{{i.emp_name}}</option>
                        {% endfor %}
                      </select>
                      <center><button class="btn btn-success btn-lg mt-4" style="padding: 0 30px !important;">Audit</button></center>
                    </div>
                  </form>
                </div>
                <div class="col-md-3 campaigns">
                  <div class="inside inside_inbound">
                  <form action="/form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                      <h2 align="center"><i class="fas fa-headphones-alt"></i> Inbound</h2>
                      <label for="campaign_inbound">Campaign</label>
                      <select id="campaign_inbound" name="campaign" class="form-control select2" required>
                        <option value="" selected disabled>Please Select</option>
                        {% for i in in_campaign %}
                        <option value="{{i.name}}">{{i.name}}</option>
                        {% endfor %}
                      </select>
                      <label for="emp_inbound" class="mt-3">Employee</label>
                      <select id="emp_inbound" name="emp" class="form-control select2" required>
                        <option value="" selected disabled>Please Select</option>
                        {% for i in profile %}
                        <option value="{{i.emp_id}}">{{i.emp_name}}</option>
                        {% endfor %}
                      </select>
                      <center><button class="btn btn-success btn-lg mt-4 " style="padding: 0 30px !important;">Audit</button></center>
                    </form>
                  </div>
                </div>
                <div class="col-md-3 campaigns">
                  <div class="inside inside_email">
                    <form action="/form" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <h2 align="center"><i class="fas fa-envelope"></i> Email</h2>
                      <label for="campaign_email">Campaign</label>
                      <select id="campaign_email" name="campaign" class="form-control select2" required>
                        <option value="" selected disabled>Please Select</option>
                        {% for i in email_campaign %}
                        <option value="{{i.name}}">{{i.name}}</option>
                        {% endfor %}
                      </select>
                      <label for="emp_email" class="mt-3">Employee</label>
                      <select id="emp_email" name="emp" class="form-control select2" required>
                        <option value="" selected disabled>Please Select</option>
                        {% for i in profile %}
                        <option value="{{i.emp_id}}">{{i.emp_name}}</option>
                        {% endfor %}
                      </select>
                      <center><button class="btn btn-success btn-lg mt-4 " style="padding: 0 30px !important;">Audit</button></center>
                    </form>
                  </div>
                </div>
                <div class="col-md-3 campaigns">
                  <div class="inside inside_other">
                    <form action="/form" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <h2 align="center"><i class="fas fa-comments"></i> Other</h2>
                      <label for="campaign_other">Campaign</label>
                      <select id="campaign_other" name="campaign" class="form-control select2" required>
                        <option value="" selected disabled>Please Select</option>
                        {% for i in other_campaign %}
                        <option value="{{i.name}}">{{i.name}}</option>
                        {% endfor %}
                      </select>
                      <label for="emp_other" class="mt-3">Employee</label>
                      <select id="emp_other" name="emp" class="form-control select2" required>
                        <option value="" selected disabled>Please Select</option>
                        {% for i in profile %}
                        <option value="{{i.emp_id}}">{{i.emp_name}}</option>
                        {% endfor %}
                      </select>
                      <center><button class="btn btn-success btn-lg mt-4 " style="padding: 0 30px !important;">Audit</button></center>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="card">
                <div class="card-header">
                  <h5>Campaign Wise Audit Report</h5>
                </div>
                <div class="card-body">
                  <div class="row">
                    <form action="/qa-reports/campaign-range" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="report_campaign">Campaign</label>
                              <select required class="form-control select2" name="campaign" id="report_campaign">
                                <option value="" selected disabled>Please Select</option>
                                <option value="all">All</option>
                                {% for i in campaigns %}
                                <option value="{{i.name}}">{{i.name}}</option>
                                {% endfor %}
                              </select>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="report_status">Status</label>
                              <select required class="form-control select2" name="status" id="report_status">
                                <option value="" selected disabled>Please Select</option>
                                <option value="all">All</option>
                                <option value="open">Open Status</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="cam_start">Start Date</label>
                              <input type="date" onchange="cam_end_datefn()" name="start_date" id="cam_start" class="form-control start">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="cam_end">End Date</label>
                              <input type="date"  name="end_date" id="cam_end" class="form-control end">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <button class="btn btn-success form-control">Submit</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card">
                <div class="card-header">
                  <h5>Employee Wise Audit Report</h5>
                </div>

                <div class="card-body">
                  <div class="row">
                    <form action="/qa-reports/emp-range" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="report_emp">Employee</label>
                              <select required class="form-control select2" name="emp_id" id="report_emp">
                                <option value="" selected disabled>Please Select</option>
                                <option value="all">All</option>
                                {% for i in profile %}
                                <option value="{{i.emp_id}}">{{i.emp_name}} ({{i.emp_id}})</option>
                                {% endfor %}
                              </select>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="status_emp">Status</label>
                              <select required class="form-control select2" name="status" id="status_emp">
                                <option value="" selected disabled>Please Select</option>
                                <option value="all">All</option>
                                <option value="open">Open Status</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="start">Start Date</label>
                              <input type="date" onchange="end_datefn()" name="start_date" id="start" class="form-control start">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <label for="end">End Date</label>
                              <input type="date"  name="end_date" id="end" class="form-control end">
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <button class="btn btn-success form-control">Submit</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-2">
              <div class="card-base">
                <div class="card-icon">
                  <span title="All Audits" id="widgetCardIcon" class="imagecard">
                    <i class="fa fa-database"></i>
                  </span>
                  <div class="card-data widgetCardData">
                    <h2 class="box-title mt-5" style="color: #2A3F54;">All Audits</h2>
                    <h1>{{all_total}}</h1>
                    <a href="/qa-reports/all" title="Style Builder" class="anchor btn btn-default" style="background: #1ABB9C; color: #fff;">
                      View
                    </a>
                  </div>
                </div>
                <div class="space"></div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card-base">
                <div class="card-icon">
                  <span title="All Audits" id="widgetCardIcon" class="imagecard">
                    <i class="fa fa-calendar"></i>
                  </span>
                  <div class="card-data widgetCardData">
                    <h2 class="box-title mt-5" style="color: #2A3F54;">This Month's Audits</h2>
                    <h1>{{month_all_total}}</h1>
                    <a href="/qa-reports/month" title="Style Builder" class="anchor btn btn-default" style="background: #1ABB9C; color: #fff;">
                      View
                    </a>
                  </div>
                </div>
                <div class="space"></div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card-base">
                <div class="card-icon">
                  <span title="Open Audits" id="widgetCardIcon" class="imagecard">
                    <i class="fa fa-pencil"></i>
                  </span>
                  <div class="card-data widgetCardData">
                    <h2 class="box-title mt-5" style="color: #2A3F54;">Open Audits</h2>
                    <h1>{{open_total}}</h1>
                    <a href="/qa-reports/open" title="Style Builder" class="anchor btn btn-default" style="background: #1ABB9C; color: #fff;">
                      View
                    </a>
                  </div>
                </div>
                <div class="space"></div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card-base">
                <div class="card-icon">
                  <span title="Dispute Audits" id="widgetCardIcon" class="imagecard">
                    <i class="fa fa-times"></i>
                  </span>
                  <div class="card-data widgetCardData">
                    <h2 class="box-title mt-5" style="color: #2A3F54;">Dispute Audits</h2>
                    <h1>{{dispute_total}}</h1>
                    <a href="/qa-reports/dispute" title="Style Builder" class="anchor btn btn-default" style="background: #1ABB9C; color: #fff;">
                      View
                    </a>
                  </div>
                </div>
                <div class="space"></div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card-base">
                <div class="card-icon">
                  <span title="All Audits" id="widgetCardIcon" class="imagecard">
                    <i class="fa fa-exclamation-circle"></i>
                  </span>
                  <div class="card-data widgetCardData">
                    <h2 class="box-title mt-5" style="color: #2A3F54;">This Month's Fatal Audits</h2>
                    <h1>{{fatal_total}}</h1>
                    <a href="/qa-reports/fatal" title="Style Builder" class="anchor btn btn-default" style="background: #1ABB9C; color: #fff;">
                      View
                    </a>
                  </div>
                </div>
                <div class="space"></div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card-base">
                <div class="card-icon">
                  <span title="Dispute Audits" id="widgetCardIcon" class="imagecard">
                    <i class="fa fa-exclamation-triangle"></i>
                  </span>
                  <div class="card-data widgetCardData">
                    <h2 class="box-title mt-5" style="color: #2A3F54;">This Month's Fatals</h2>
                    <br>
                    <h1>{{fatal}}</h1>
                  </div>
                </div>
                <div class="space"></div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-2">
              <div class="card-base">
                <div class="card-icon">
                  <span title="Dispute Audits" id="widgetCardIcon" class="imagecard">
                    <i class="fa fa-tasks"></i>
                  </span>
                  <div class="card-data widgetCardData">
                    <h2 class="box-title mt-5" style="color: #2A3F54;">This Month's Score</h2>
                    <br>
                    {% if average ==  "No Audits This Month" %}
                    <h5>{{average}}</h5>
                    {% else %}
                    <h1>{{average|floatformat:2}}%</h1>
                    {% endif %}
                  </div>
                </div>
                <div class="space"></div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card-base">
                <div class="card-icon">
                  <span title="All Audits" id="widgetCardIcon" class="imagecard">
                    <i class="fa fa-lightbulb-o"></i>
                  </span>
                  <div class="card-data widgetCardData">
                    <h2 class="box-title mt-5" style="color: #2A3F54;">Coaching Closure</h2>
                    <br>
                    {% if coaching_closure ==  "No Audits" %}
                    <h5>{{coaching_closure}}</h5>
                    {% else %}
                    <h1>{{coaching_closure|floatformat:2}}%</h1>
                    {% endif %}
                  </div>
                </div>
                <div class="space"></div>
              </div>
            </div>
          </div>
        </div>

        <!-- /page content -->
{% csrf_token %}
{% endblock %}


{% block scripts %}
  <script>
    $(document).ready(function() {
      csrf = document.querySelector("input[name='csrfmiddlewaretoken']").value;
      $("#campaign").on("change",function(){
        var campaign_id = $(this).val();
        if(campaign_id) {
          $.ajax({
            type:'POST',
            url:"get-emp",
            data:{campaign:campaign_id,csrfmiddlewaretoken:csrf},
            success:function(data) {
              alert(data);
              var s = '<option value="" selected disabled>Please Select</option>';
               for (var i = 0; i < data.length; i++) {
                   s += '<option value="'+ data[i].emp_id +'">' + data[i].emp_name + '</option>';
               }
              $("#emp").html(data);
            }
          });
        }
      })
    });
  </script>
<script>
  $today = new Date();
  $today = moment($today).format("YYYY-MM-DD");

  $cam_start = $("#cam_start");
  $cam_end = $("#cam_end");
  $cam_start.attr("max",$today)
  $cam_end.attr("max",$today)
  function cam_end_datefn(){
    $cam_start = $("#cam_start").val()
    $cam_end.attr("min",$cam_start)
    $cam_end.attr("required","required")
  }


  $start = $("#start");
  $end = $("#end");
  $start.attr("max",$today)
  $end.attr("max",$today)
  function end_datefn(){
    $start = $("#start").val()
    $end.attr("min",$start)
    $end.attr("required","required")
  }


</script>
{% endblock %}