{% extends "common_base.html" %}
{% block main %}
<style>
    #report {
        font-size: 18px;
    }
</style>
<!-- page content -->
<div class="right_col" role="main" id="report">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12" align="center">
                            <h1>Audit Form - {{campaign.name}} ({{campaign.type}})</h1>
                        </div>
                    </div>
                </div>
             <form action="/fla-submit" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-2 form-group">
                                <label for="empname">Associate Name</label>
                                <input type="text" class="form-control" id="empname" readonly name="empname" value="{{profile.emp_name}}">
                            </div>
                            <div class="col-md-2 form-group">
                                <label for="empid">Employee ID</label>
                                <input type="text" class="form-control" id="empid" name="empid" readonly value="{{profile.emp_id}}">
                            </div>
                            <div class="col-md-2 form-group">
                                <label for="qa">Quality Analyst</label>
                                <input type="text" class="form-control" id="qa" name="qa" value="{{request.user.profile.emp_name}}" readonly>
                            </div>
                            <div class="col-md-2 form-group">
                                <label for="tl">Team Lead</label>
                                <input type="text" class="form-control" id="tl" name="tl" readonly value="{{profile.emp_rm1}}">
                                <input type="hidden" name="tl_id" value="{{profile.emp_rm1_id}}">
                            </div>
                            <div class="col-md-2 form-group">
                                <label for="manager">Manager</label>
                                <input type="text" class="form-control" id="manager" name="manager" readonly value="{{profile.emp_rm3}}">
                                <input type="hidden" name="manager_id" value="{{profile.emp_rm3_id}}">
                            </div>
                            <div class="col-md-2 form-group">
                                <label for="am">AM</label>
                                <input type="text" class="form-control" id="am" name="am" readonly value="{{profile.emp_rm2}}">
                                <input type="hidden" name="am_id" value="{{profile.emp_rm2_id}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 form-group">
                                <label for="week">Week</label>
                                <select class="form-control" name="week" id="week" required="">
                                    <option value="week1">Week1</option>
                                    <option value="week2">Week2</option>
                                    <option value="week3">Week3</option>
                                    <option value="week4">Week4</option>
                                    <option value="week5">Week5</option>
                                </select>
                            </div>
                            <div class="col-md-2 form-group">
                                <label for="concept">Transaction Handled Date</label>
                                <input type="date" class="form-control" id="transdate" name="transdate" required="">
                            </div>
                            <div class="col-md-2 form-group">
                                <label for="auditdate">Audit Date</label>
                                <input type="text" class="form-control" value="{{today}}" readonly>
                                <input type="hidden" value="{{today}}" id="auditdate" name="auditdate">
                            </div>
                            <div class="col-md-2 form-group">
                                <label for="concept">Service</label>
                                <input type="text" class="form-control" id="Service" name="service" required="">
                            </div>
                            <div class="col-md-2 form-group">
                                <label for="concept">Order ID</label>
                                <input type="text" class="form-control" id="ticketnumber" name="order_id" required="">
                            </div>
                            <div class="col-md-2 form-group">
                                <label for="concept">Concept</label>
                                <input type="text" class="form-control" id="concept" name="concept" required>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 mt-3">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Check List</h4>
                                <p>Unassigned/On Hold/Post Inspection Scheduled/ Inspection Scheduled Checklist/Inspected/Accepted By Vendor</p>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-8">
                                Check List Used Correctly
                            </div>
                            <div class="col-md-4 form-group">
                                <input type="radio" name="checklist_1" onchange="ce(this)" value="100" id="yes4" required="">
                                <label for="yes4">Yes</label>
                                <input type="radio" name="checklist_1" onchange="ce(this)" value="0" id="no4">
                                <label for="no4">No</label>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-8 score">
                                Check List Score
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control scoree" name="cl_score" value="Select appropiate option for ALL to see score" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Reason for Failure</h4>
                                <textarea name="reason_for_failure" class="form-control" cols="30" rows="3" required=""></textarea>
                            </div>
                            <div class="col-md-12 mt-2">
                                <h4>Areas of improvement</h4>
                                <textarea name="areaimprovement" id="areaimp" cols="30" rows="5" class="form-control" required="" pattern="(/^[A-Za-z]+$/)"></textarea>
                            </div>
                            <div class="col-md-12 mt-2">
                                <h4>Positives</h4>
                                <textarea name="positives" id="positives" cols="30" rows="5" class="form-control" required="" pattern="(/^[A-Za-z]+$/)"></textarea>
                            </div>
                            <div class="col-md-12 mt-2">
                                <h4>Comments</h4>
                                <textarea name="comments" id="cfeedback" cols="30" rows="5" class="form-control" required="" pattern="(/^[A-Za-z]+$/)"></textarea>
                            </div>
                            <div class="col-md-12 mt-5" align="center">
                                <button type="button" class="btn btn-lg btn-info" onclick="full_score(this)" data-toggle="modal" data-target="#viewscore">View Score</button>
                                <button class="btn btn-lg btn-success" onclick="return confirmm();" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="campaign_name" value="{{campaign.name}}">
                     <input type="hidden" name="campaign_type" value="{{campaign.type}}">
                     <input type="hidden" name="start_time" value="{{start_time}}">
                </form>
            </div>
        </div>
    </div>
</div>
    

    <!-- Modal -->
    <div class="modal fade" id="viewscore" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Full Score</h5><p class="mt-2"> (Please select all the options to see score)</p>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div align="center">
                <h1 id="myscore"></h1>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    var n=0;
    var score1;

    function ce(e) {
        n=n+1;
        var cl_score = document.querySelector('input[name="cl_score"]');
        var checklist_1 = parseInt(document.querySelector('input[name="checklist_1"]:checked').value);
        for (var i = 0; i <= n; i++) {
            cl_score.value = checklist_1;
        }
        if (cl_score.value < 100) {
            cl_score.classList.add("less");
            cl_score.classList.remove("perfect");
        }
        else {
            cl_score.classList.remove("less");
            cl_score.classList.add("perfect");
        }
        score1 = parseInt(cl_score.value);
    }
    function full_score(e) {
        n=n+1;
        var fullscore = document.getElementById('myscore');
        // if ((fatal2 == 0 ) || ( fatal1 == 0 ) || ( fatal3 == 0 ) || ( fatal4 == 0)){
        //     fullscore.innerHTML = 0;
        // }
        // else {
            for (var i = 0; i <= n; i++) {
                fullscore.innerHTML = score1;
            }
        // }
    }

</script>
<script>
        $mydate = $("#auditdate").val();
        $("#auditdate").val(moment($mydate).format("YYYY-MM-DD"));
    </script>
{% endblock %}