{% extends "common_base.html" %}
{% block main %}
<style>
    #report {
        font-size: 18px;
    }
</style>
<!-- page content -->
<div class="right_col" role="main" id="report">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12" align="center">
                            <h1>Audit Form - {{campaign.name}} ({{campaign.type}})</h1>
                        </div>
                    </div>
                </div>
                <form action="/noompod-submit" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label for="empname">Associate Name</label>
                                <input type="text" class="form-control" id="empname" name="empname" readonly value="{{profile.emp_name}}">
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="empid">Employee ID</label>
                                <input type="number" class="form-control" id="empid" name="empid" readonly value="{{profile.emp_id}}">
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="qa">Quality Analyst</label>
                                <input type="text" class="form-control" id="qa" name="qa" value="{{request.user.profile.emp_name}}" readonly>
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="tl">Team Lead</label>
                                <input type="text" class="form-control" id="tl" name="tl" readonly value="{{profile.emp_rm1}}">
                                <input type="hidden" name="tl_id" value="{{profile.emp_rm1_id}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label for="ticketnumber">Ticket Number</label>
                                <input type="text" class="form-control" id="ticketnumber" name="ticketnumber" required="">
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="concept">Concept</label>
                                <input type="text" class="form-control" id="concept" name="concept" required>
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="transdate">Transaction Handled Date</label>
                                <input type="date" class="form-control" id="transdate" name="transdate" required="">
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="evaluator">Evaluator Name</label>
                                <input type="text" class="form-control" id="evaluator" name="evaluator" required="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 form-group">
                                <label for="week">Week</label>
                                <select class="form-control" name="week" id="week" required="">
                                    <option value="week1">Week1</option>
                                    <option value="week2">Week2</option>
                                    <option value="week3">Week3</option>
                                    <option value="week4">Week4</option>
                                    <option value="week5">Week5</option>
                                </select>
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="auditdate">Audit Date</label>
                                <input type="text" class="form-control" value="{{today}}" readonly>
                                <input type="hidden" value="{{today}}" id="auditdate" name="auditdate">
                            </div>
                            <div class="col-md-3 form-group">
                                <label for="manager">Manager</label>
                                <input type="text" class="form-control" id="manager" name="manager" readonly value="{{profile.emp_rm3}}">
                                <input type="hidden" name="manager_id" value="{{profile.emp_rm3_id}}">

                            </div>
                            <div class="col-md-3 form-group">
                                <label for="am">AM</label>
                                <input type="text" class="form-control" id="am" name="am" readonly value="{{profile.emp_rm2}}">
                                <input type="hidden" name="am_id" value="{{profile.emp_rm2_id}}">

                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 mt-3">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Customer Experience</h4>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-8">
                                NCE : FCI &amp; GCI: If the Messages are switched around. i,e Second message sent in the place of first message. If the task is not been cleared. If the user name is in alphanumeric then it should be used as "Hey there". If the canned response is sent twise. The CRO should make sure that #SCI 1 (FCI) is reflecting on task list. Make sure only one task due today is on the task list.
                            </div>
                            <div class="col-md-4 form-group">
                                <input type="radio" onchange="ce(this)" name="ce_1" value="10" id="yes4" required="">
                                <label for="yes4">Yes</label>
                                <input type="radio" onchange="ce(this)" name="ce_1" value="0" id="no4">
                                <label for="no4">No</label>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-8">
                                NCE : In YLCI ,second message is sent in the place of first message. Any unnecessary space in the FCI canned response will be a NCE.
                            </div>
                            <div class="col-md-4 form-group">
                                <input type="radio" onchange="ce(this)" name="ce_2" value="10" id="yes5" required="">
                                <label for="yes5">Yes</label>
                                <input type="radio" onchange="ce(this)" name="ce_2" value="0" id="no5">
                                <label for="no5">No</label>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-8">
                                NCE : In YLCI If the user is missed to Receive respective response for the SGM {Thanks for sticking in with noom}.
                            </div>
                            <div class="col-md-4 form-group">
                                    <input type="radio" onchange="ce(this)" name="ce_3" value="10" id="yes6" required="">
                                    <label for="yes6">Yes</label>
                                    <input type="radio" onchange="ce(this)" name="ce_3" value="0" id="no6">
                                    <label for="no6">No</label>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-8">
                                NCE : In YLCI if user receives the message twice. If user is missed to hit finish the task after sending the message.
                            </div>
                            <div class="col-md-4 form-group">
                                    <input type="radio" onchange="ce(this)" name="ce_4" value="10" id="yes7" required="">
                                    <label for="yes7">Yes</label>
                                    <input type="radio" onchange="ce(this)" name="ce_4" value="0" id="no7">
                                    <label for="no7">No</label>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-8 score">
                                Customer Experience Score
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control scoree" name="ce_score" value="Select appropiate option for ALL to see score" readonly>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12 mt-3">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Compliance</h4>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-8">
                                CE : FCI/GCI : If the user receive irrespective message instead of respective message I.e., sending GCI message instead of FCI message. Only first name of the user should be sent with canned message. If there is any personal reply from the user that Particular users should be Skipped.
                            </div>
                            <div class="col-md-4 form-group">
                                <input type="radio" name="compliance_1" onchange="compliance(this)" value="10" id="yes1" required="">
                                <label for="yes1">Yes</label>
                                <input type="radio" name="compliance_1" onchange="compliance(this)" value="0" id="no1">
                                <label for="no1">No</label>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-8">
                                CE : If the user’s message was sent After or equal to 14 days irrespective of any task, those users should to be skipped to UU auto generate. Else if any irrelevant response is sent for a user.
                            </div>
                            <div class="col-md-4 form-group">
                                <input type="radio" name="compliance_2" onchange="compliance(this)" value="10" id="yes2" required="">
                                <label for="yes2">Yes</label>
                                <input type="radio" name="compliance_2" onchange="compliance(this)" value="0" id="no2">
                                <label for="no2">No</label>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-8">
                                CE : If the user’s last message be like UU response those users should be mark as inactive or skip. If the last messages looks like an acknowledgement for a UU response, those users should be skipped or Mark as inactive.
                            </div>
                            <div class="col-md-4 form-group">
                                <input type="radio" name="compliance_3" onchange="compliance(this)" value="10" id="yes3" required="">
                                <label for="yes3">Yes</label>
                                <input type="radio" name="compliance_3" onchange="compliance(this)" value="0" id="no3">
                                <label for="no3">No</label>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-8">
                               CE : If any "Task due today" is popped up with YLC, that user need to be sent with appropriate "Task due today" canned message. If the TDT is repeated on task list with a different date and time or different task those users needs to be skipped.
                            </div>
                            <div class="col-md-4 form-group">
                                <input type="radio" name="compliance_4" onchange="compliance(this)" value="10" id="c4" required="">
                                <label for="c4">Yes</label>
                                <input type="radio" name="compliance_4" onchange="compliance(this)" value="0" id="c5">
                                <label for="c5">No</label>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-8">
                               CE : User should be sent with the response which is loaded on Canned response list, make sure not to add any extra contents in it! If the user is skipped without a valid reason.
                            </div>
                            <div class="col-md-4 form-group">
                                <input type="radio" name="compliance_5" onchange="compliance(this)" value="10" id="c5_1" required="">
                                <label for="c5_1">Yes</label>
                                <input type="radio" name="compliance_5" onchange="compliance(this)" value="0" id="c5_2">
                                <label for="c5_2">No</label>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-8">
                               CE : In Group posting if the content/image  is missed in post. If the content/Image is swapped.
                            </div>
                            <div class="col-md-4 form-group">
                                <input type="radio" name="compliance_6" onchange="compliance(this)" value="10" id="c6_1" required="">
                                <label for="c6_1">Yes</label>
                                <input type="radio" name="compliance_6" onchange="compliance(this)" value="0" id="c6_2">
                                <label for="c6_2">No</label>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-8 score">
                                Compliance Score
                            </div>
                            <div class="col-md-4">
                                <input type="text" class="form-control scoree" name="compliance_score" value="Select appropiate option for ALL to see score" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Areas of improvement</h4>
                                <textarea name="areaimprovement" id="areaimp" cols="30" rows="5" class="form-control" required="" pattern="(/^[A-Za-z]+$/)"></textarea>
                            </div>
                            <div class="col-md-12 mt-2">
                                <h4>Positives</h4>
                                <textarea name="positives" id="positives" cols="30" rows="5" class="form-control" required="" pattern="(/^[A-Za-z]+$/)"></textarea>
                            </div>
                            <div class="col-md-12 mt-2">
                                <h4>Comments</h4>
                                <textarea name="comments" id="cfeedback" cols="30" rows="5" class="form-control" required="" pattern="(/^[A-Za-z]+$/)"></textarea>
                            </div>
                            <div class="col-md-12 mt-5" align="center">
                                <button type="button" class="btn btn-lg btn-info" onclick="full_score(this)" data-toggle="modal" data-target="#viewscore">View Score</button>
                                <button class="btn btn-lg btn-success" onclick="return confirmm();" type="submit">Submit</button>
                            </div>
                        </div>
                    </div>

                      <input type="hidden" name="campaign_name" value="{{campaign.name}}">
                     <input type="hidden" name="campaign_type" value="{{campaign.type}}">
                     <input type="hidden" name="start_time" value="{{start_time}}">
                </form>
            </div>
        </div>
    </div>
</div>

    <!-- Modal -->
    <div class="modal fade" id="viewscore" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Full Score</h5><p class="mt-2"> (Please select all the options to see score)</p>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div align="center">
                <h1 id="myscore"></h1>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
{% block scripts %}
  <script>
        $mydate = $("#auditdate").val();
        $("#auditdate").val(moment($mydate).format("YYYY-MM-DD"));
    </script>

<script type="text/javascript">
    var n=0;
    var score1;
    var score3;

    function ce(e) {
        n=n+1;
        var ce_score = document.querySelector('input[name="ce_score"]');
        var ce_1 = parseInt(document.querySelector('input[name="ce_1"]:checked').value);
        var ce_2 = parseInt(document.querySelector('input[name="ce_2"]:checked').value);
        var ce_3 = parseInt(document.querySelector('input[name="ce_3"]:checked').value);
        var ce_4 = parseInt(document.querySelector('input[name="ce_4"]:checked').value);
        for (var i = 0; i <= n; i++) {
            ce_score.value = ce_1+ce_2+ce_3+ce_4;
        }
        if (ce_score.value < 40) {
            ce_score.classList.add("less");
            ce_score.classList.remove("perfect");
        }
        else {
            ce_score.classList.remove("less");
            ce_score.classList.add("perfect");
        }
        score1 = parseInt(ce_score.value);
    }
    function compliance(e) {
        n=n+1;
        var compliance_score = document.querySelector('input[name="compliance_score"]');
        var compliance_1 = parseInt(document.querySelector('input[name="compliance_1"]:checked').value);
        var compliance_2 = parseInt(document.querySelector('input[name="compliance_2"]:checked').value);
        var compliance_3 = parseInt(document.querySelector('input[name="compliance_3"]:checked').value);
        var compliance_4 = parseInt(document.querySelector('input[name="compliance_4"]:checked').value);
        var compliance_5 = parseInt(document.querySelector('input[name="compliance_5"]:checked').value);
        var compliance_6 = parseInt(document.querySelector('input[name="compliance_6"]:checked').value);
        for (var i = 0; i <= n; i++) {
            compliance_score.value = compliance_1+compliance_2+compliance_3+compliance_4+compliance_5+compliance_6;
            
        }
        if (compliance_score.value < 60) {
            compliance_score.classList.add("less");
            compliance_score.classList.remove("perfect");
        }
        else {
            compliance_score.classList.remove("less");
            compliance_score.classList.add("perfect");
        }
        score3 = parseInt(compliance_score.value);
    }
    function full_score(e) {
        n=n+1;
        var fullscore = document.getElementById('myscore');
        // if ((fatal2 == 0 ) || ( fatal1 == 0 ) || ( fatal3 == 0 ) || ( fatal4 == 0)){
        //     fullscore.innerHTML = 0;
        // }
        // else {
            for (var i = 0; i <= n; i++) {
                fullscore.innerHTML = score1+score3;
            }
        // }
    }

</script>
{% endblock %}